@use "../../abstracts/mixins" as *;
@use "../../abstracts/utilities" as *;

.signup-content {
  padding: calc(var(--std_padding) * 4);
  text-align: center;

  .signup-heading {
    font-size: var(--std_heading-size);
    margin-bottom: var(--std_margin);
  }

  .features-list {
    list-style: none;
    padding: 0;
    margin-bottom: var(--std_margin);

    li {
      font-size: var(--std_paragraph-size);
      margin-bottom: var(--std_margin);
    }
  }

  .features-subtext {
    font-size: var(--std_paragraph-size);
  }
}
