@use "../abstracts/mixins" as *;
@use "../abstracts/utilities" as *;
@use "../components/analytics" as *;

.home-section {
  @include section;

  // Banner Section
  .banner-container {
    @include container;
    height: 50vh;
    overflow: hidden;
    position: relative;

    .banner-slider {
      width: 100%;
      height: 100%;

      .banner-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 600px) {
      padding: 0 1rem;
    }
  }


  // Main Content Section
  .section-main {
    @include container;

    .container {
      @extend .grid;
      @extend .grid-two-cols;
      align-items: center;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .btn-group {
        margin-top: var(--std_margin);
      }
    }

    .main-video {
      display: flex;
      justify-content: center;

      .promo-video {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: var(--border-radius);
      }
    }
  }


  // Analytics Section
  .analytics-section {
    @include analyticsSection;
  }

  // Reverse Modifier for additional content layout
  &.reverse {
    .container {
      @extend .grid;
      @extend .grid-two-cols;
      align-items: center;
      flex-direction: row-reverse;
    }
  }
}
