@use "../abstracts/mixins" as *;
@use "../abstracts/utilities" as *;

.login-section {
  @include section;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container {
  @extend .grid;
  @extend .grid-two-cols;
  min-width: 100%;
  padding: 0 calc(var(--std_padding) * 2);
  align-items: center;
  gap: calc(var(--std_gap) * 2);
}

@media (max-width: 600px) {
  .login-container {
    grid-template-columns: 1fr;
    padding: var(--std_padding);
  }
}
