@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.login-section {
  @include section;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 400px;
    padding: var(--std_padding);
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: var(--std_heading-size);
      text-align: center;
      margin-bottom: var(--std_margin);
    }

    .form-container {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .login-section .login-container {
    width: 100%;
    padding: var(--std_padding);
  }
}
