@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.notfound-section {
  @include section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: var(--std_heading-size);
    color: var(--danger-color);
  }

  p {
    font-size: var(--std_paragraph-size);
    margin-bottom: var(--std_margin);
  }

  .btn {
    margin-top: var(--std_margin);
  }
}
