.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: var(--helper-color);
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--btn-color);
  border-radius: 0.4rem;
  background-color: #252524;
  color: white;
  outline: none;
}

.form-group input:focus {
  border-color: var(--accent-color);
}
