body {
  background-color: #121212;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
}

.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.btn-primary {
  background-color: #646cff;
  padding: 1rem 2rem;
  border: none;
  color: white;
  cursor: pointer;
}
