@mixin section {
  min-width: 100%;
  min-height: var(--min-page-height);
  padding: calc(var(--std_padding) * 2) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: var(--full-height-width);
  margin: var(--std_margin-container);
  padding: calc(var(--std_padding) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
