/* _utilities.scss */
.grid {
  display: grid;
  gap: calc(var(--std_gap)*2);
  align-items: center;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}
