.footer {
  font-size: var(--std_paragraph-size);
  min-height: var(--min-footer-height);
  width: 100%;
  background-color: transparent;
  color: var(--btn-color);
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  padding-top: var(--std_padding);
  box-shadow: 0 4px 10px var(--btn-color);
  p {
    margin: 0;
  }
  .footer-nav {
    ul {
      gap: var(--std_gap);
      list-style: none;
      margin: 0;
      padding: 0;
      li a {
        color: var(--btn-color);
        text-decoration: none;
        transition: color var(--transition-speed);

        &:hover {
          color: var(--text-color);
          text-decoration: underline;
        }
      }
    }
  }
}
