.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--std_left-right-padding-plus1);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  box-shadow: 0 4px 10px var(--btn-color);
  transition:
    background-color var(--transition-speed) ease,
    box-shadow var(--transition-speed) ease;

  &.scrolled {
    background-color: rgba(211, 211, 211, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.brand-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-logo {
  width: var(--logo-width-height);
  height: var(--logo-width-height);
}

.site-name {
  margin-left: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);

  .color-primary {
    color: var(--btn-color)
    ;
  }
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
  background: none;
  border: none;

  span {
    width: 2rem;
    height: 0.25rem;
    background-color: #ffffff;
    border-radius: 0.2rem;
    transition: all var(--transition-speed) ease;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(0.4rem, 0.4rem);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(0.4rem, -0.4rem);
    }
  }
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  font-size: var(--std_font-size);

  ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    padding: 0.8rem;
    color: var(--btn-color);
    text-decoration: none;
    transition: var(--transition-speed);
    display: inline-block;

    &:hover,
    &.active {
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 0.5rem;
    }

    /* Added focus styles for accessibility */
    &:focus {
      outline: 2px dashed white;
      outline-offset: 2px;
    }
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 5rem;
    right: 1rem;
    background-color: rgba(211, 211, 211, 0.1);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .nav-menu.active {
    display: flex;
  }
}
